<!--<html lang="us">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/ui-lightness/jquery-ui-1.10.4.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/_app.css" rel="stylesheet">
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/jquery-ui-1.10.4.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/_app.js"></script>
</head>-->
<link href="~/Content/_app.css" rel="stylesheet">
<script src="~/Scripts/_app.js"></script>

<div class="main">
    <div class="panel panel-default">
        <div class="panel-heading">
            U-OW-ME
            <div class="pull-right">
                <strong>TOTAL: <span>-34</span> €</strong>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
            <th>Name</th>
            <th>Email</th>
            <th>Balance €</th>
            </thead>
            <tfoot>
                <tr>
                    <td>
                        <input name="name" placeholder="Email" type="text" class="form-control input-sm">
                    </td>
                    <td>
                        <input name="reason" placeholder="Reason" type="text" class="form-control input-sm">
                    </td>
                    <td>
                        <input name="amount" placeholder="Amount" type="number" class="form-control input-sm">
                    </td>
                <tr>
                <tr>
                    <td colspan="3">
                        <a href="#add_debt" class="btn btn-default btn-sm">ADD DEBT</a>
                        <a href="#add_payment" class="btn btn-default btn-sm">ADD PAYMENT</a>
                    </td>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td>Martin</td>
                    <td>martin.rapavy@gmail.com</td>
                    <td>-4.50</td>
                </tr>
                <tr class="details">
                    <td><strong>Transaction</strong></td>
                    <td><strong>Reason</strong></td>
                    <td><strong>Date</strong></td>
                </tr>
                <tr class="details">
                    <td>-3.34 €</td>
                    <td>Lunch</td>
                    <td>11. 11. 2014</td>
                </tr>
                <tr class="details">
                    <td>+3.34 €</td>
                    <td>Lunch</td>
                    <td>11. 11. 2014</td>
                </tr>
                <tr class="details">
                    <td>
                        <input name="payment" placeholder="Payment" type="number" class="form-control input-sm">
                    </td>
                    <td>
                        <input name="reason" placeholder="Reason" type="text" class="form-control input-sm">
                    </td>
                    <td>
                        <a href="" class="btn btn-default btn-sm">ADD DEBT</a>
                        <a href="" class="btn btn-default btn-sm">ADD PAYMENT</a>
                    </td>
                </tr>
                <tr class="details">
                    <td colspan="3">
                        <a href="#close" class="btn btn-default btn-sm">CLOSE</a>
                        <a href="" class="btn btn-link btn-sm">DELETE</a>
                    </td>
                </tr>
                <tr>
                    <td>Martin</td>
                    <td>martin.rapavy@gmail.com</td>
                    <td>-4.50</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>